@import "_variables.scss";

.form__input_container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  position: relative;
  @media (min-width: 30rem) {
    flex-direction: row;
    align-items: center;
  }
}

.form__label {
  position: absolute;
  left: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
  color: $main-green;
}

.form__input,
.form__textarea {
  font: {
    size: inherit;
    family: inherit;
  }
  padding: 1rem 3rem;
  border-radius: 3px;
  border: 2px solid $light-grey;
  outline: none;
  width: 100%;
  &:active,
  &:focus {
    border: 2px solid $main-green;
  }
  &:active + .form__label,
  &:focus + .form__label {
    opacity: 1;
  }
}

.form__textarea {
  resize: vertical;
  min-height: 125px;
}

.form__invalid {
  border: 2px solid $red;
  transition: $transitiion;
}

.form__invalid + .form__label {
  color: $red;
}
