@import "_variables.scss";

.table {
  width: 100%;
  border: 1px solid $light-grey;
  margin: 2rem auto;
  border-spacing: 0;
  border-collapse: collapse;
}

.table_row {
  background: $off-white;

  td,
  th {
    padding: 0.5rem;
  }
}

.table_row:nth-of-type(even) {
  background: darken($off-white, 3%);
}

.info_icon {
  margin-left: 0.5rem;
  cursor: pointer;
}
