@import "../../styles/_variables.scss";

.ClubSummary__sections {
  max-width: $max-width;
  margin: 2rem auto;
  display: flex;
  flex-direction: column-reverse;
  @media (min-width: 40rem) {
    flex-direction: row;
  }
}

.ClubSummary__about {
  width: 100%;
  @media (min-width: 40rem) {
    width: 66%;
  }

  p {
    margin: 1.5rem 0;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.svg {
  margin-right: 0.625rem;
  color: $tan;
}
