@import "../../styles/_variables.scss";

.facilities {
  @extend .section-container;
}

.facilities__img_container {
  width: 100%;

  img {
    width: 100%;
  }
}

.facility__section {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1rem;
  @media (min-width: 40rem) {
    grid-template-columns: auto auto;
    /*  grid-auto-rows: minmax(300px, auto); */
  }
}
