@import "../../styles/_variables.scss";

.form__container {
  @extend .section-container;
  display: flex;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 35rem;
}

.form__button {
  font-size: 1rem;
  border: none;
  padding: 1rem 3rem;
  background: $main-green;
  color: $off-white;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s ease;
  width: 100%;

  &:hover,
  &:active {
    background: darken($main-green, 10%);
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:active {
    background: $main-green;
    opacity: 0.5;
    cursor: not-allowed;
  }

  @media (min-width: 30rem) {
    width: initial;
  }
}
