@import "../../styles/_variables.scss";

.header {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: $header-height-mobile;
  background: $main-green;
  @media (min-width: 30rem) {
    height: $header-height-web;
  }

  .headerContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.headerSection {
  flex: 1;
  display: flex;

  &:first-of-type {
    justify-content: flex-start;
  }

  &:nth-of-type(even) {
    justify-content: center;
  }

  &:last-of-type {
    justify-content: flex-end;
  }
}

.logo {
  width: 4rem;
  @media (min-width: 30rem) {
    width: 5rem;
  }
  img {
    width: 100%;
  }
}

.bookBtn {
  min-width: 30px;
}

.button {
  @extend .button-generic;
  display: none;
  color: $off-white;
  background-color: $main-green;
  border: 1px solid $off-white;

  &:hover,
  &:active {
    background: darken($main-green, 3%);
    border: 1px solid $tan;
    color: $tan;
  }
  @media (min-width: 30rem) {
    display: block;
  }
}
