.footer {
  display: flex;
  flex-direction: column;
  background-color: #425348;
  color: #f9f9f9;
  justify-content: space-between;
  font-size: 1.1rem;
}

.footerRow {
  display: flex;
  width: 100%;
}

.footerRow:last-of-type {
  font-size: 0.75rem;
  opacity: 0.7;
  margin: 1rem 0 0;
}

.footerRow div {
  width: 100%;
  flex: 2;
}

.footerRow div:nth-of-type(even) {
  flex: 1;
}

.footerRow div:last-of-type {
  text-align: right;
}

.ul {
  text-align: center;
  padding: 0;
}

.ul li {
  display: inline-block;
  margin: 0 5px;
}

.contactIcon {
  margin-right: 10px;
}

.mediaIcon {
  font-size: 1.75rem;
}

@media screen and (max-width: 680px) {
  .footerRow {
    text-align: center;
    flex-direction: column;
  }

  .footerRow:last-of-type {
    margin: 1rem 0;
  }

  .footerRow div:last-of-type {
    text-align: center;
  }
}
