@import "../../styles/_variables.scss";

.NewsItems {
  @extend .section-container;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1rem;
  @media (min-width: 40rem) {
    grid-template-columns: auto auto auto;
    grid-auto-rows: minmax(300px, auto);
  }
}
