@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  font-size: 16px;
  background: #f9f9f9;
}

ul {
  list-style: none;
}

h1 {
  margin: 0;
}

h3 {
  font-size: 1rem;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}

h3:after {
  content: "";
  width: 30px;
  margin: 2px auto;
  display: block;
  border-bottom: 3px solid #425348;
}

.padding {
  padding: 1rem 10rem;
}

.flex {
  display: flex;
}

.centerText {
  text-align: center;
}

.h2 {
  border-bottom: 3px solid #425348;
  padding-bottom: 6px;
}

@media screen and (max-width: 1150px) {
  .padding {
    padding: 1rem 5rem;
  }
}

@media screen and (max-width: 800px) {
  .padding {
    padding: 1rem 3rem;
  }
}

@media screen and (max-width: 480px) {
  .padding {
    padding: 1rem 1.5rem;
  }
}
