@import "../../styles/_variables.scss";

.navItems {
  width: 100%;
  margin-top: 0.5rem;
}

.navItems ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.navItems li {
  padding: 0.5rem 1.25rem;
  font-size: 1.1rem;
  width: 100%;
}

.navItems a {
  text-decoration: none;
  color: $off-white;
}

.navItems a:hover,
.navItems a:active {
  color: $off-white;
  text-decoration: underline;
}

.navItems a.active {
  color: $tan;
}

.button {
  @extend .button-generic;
  font-size: 1.1rem;
  width: 100%;
  display: block;
  color: $off-white;
  background-color: $main-green;
  border: 1px solid $off-white;

  &:hover,
  &:active {
    background: darken($main-green, 3%);
    border: 1px solid $tan;
    color: $tan;
  }
  @media (min-width: 30rem) {
    display: none;
  }
}
