@import "../../styles/_variables.scss";

.navItems {
  width: 100%;
}

.navItems ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.navItems li {
  margin: 0.5rem 1.25rem;
  font-size: 1.1rem;
}

.navItems a {
  text-decoration: none;
  color: map-get($colors, off-white);
}

.navItems a:hover,
.navItems a:active {
  color: map-get($colors, off-white);
  text-decoration: underline;
}

.navItems a.active {
  color: map-get($colors, secondary-tan);
}
