.SideDrawer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background: rgba(66, 83, 72, 1);
  padding: 2rem 1rem;
  box-sizing: border-box;
  /*transition: transform 0.3s ease-out;*/
}

.SideDrawer img {
  width: 25%;
}

.SideDrawer hr {
  width: 100%;
  margin: 1.5rem 0;
}

.Open {
  /*transform: translateX(0);*/
  animation: openModal 0.4s ease-out forwards;
}

.Close {
  opacity: 0;
}

@keyframes openModal {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
