@import "../../styles/_variables.scss";

.Banner {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  height: 100vh;
  background-color: #000;

  img {
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
  }
}
