.BannerText {
  width: 50rem;
  top: 30vh;
  position: absolute;
  left: 50%;
  margin-left: -25rem;
  text-align: center;
  color: #f9f9f9;
  text-shadow: 0 0 5px #000;
}

.BannerText small {
  font-weight: 600;
  font-size: 1rem;
}
