@import "../../styles/_variables.scss";

.BannerText {
  width: 100%;
  top: 20vh;
  position: absolute;
  text-align: center;
  color: map-get($colors, off-white);
  text-shadow: 0 0 5px #000;

  @media (min-width: 30rem) {
    top: 38vh;
  }

  small {
    font-weight: 600;
    font-size: 1rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}
