.BannerText {
  width: 100%;
  top: 38vh;
  position: absolute;
  text-align: center;
  color: #f9f9f9;
  text-shadow: 0 0 5px #000;
}

.BannerText small {
  font-weight: 600;
  font-size: 1rem;
}

.BannerText h2 {
  font-size: 1.25rem;
}

@media screen and (max-width: 480px) {
  .BannerText {
    top: 20vh;
  }
}
