@import "../../styles/_variables.scss";

.Banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/main-background-cropped.jpg");
  background-position: center;
  width: 100%;
  height: calc(100vh - #{$header-height-mobile});
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $off-white;
  text-shadow: 0 0 5px #000;
  @media (min-width: 30rem) {
    height: calc(100vh - #{$header-height-web});
  }

  small {
    font-weight: 600;
    font-size: 1rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}
