@import "../../styles/_variables.scss";

.button {
  @extend .button-generic;
  border: 1px solid $main-green;
  background: $off-white;

  &:hover,
  &:active {
    background: darken($off-white, 3%);
    /*  background: $tan; */
    border: 1px solid $main-green;
    color: $main-green;
  }
}
